# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env/
.env.*

# Git
.git/
.gitignore

# Tests & local stuff
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml